@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<script>
    let app = new Vue({
        el: '#app',
        data: {
            message: `Vue in the works!`
        }
    })
</script>